In [2]:
import pandas as pd
df = pd.DataFrame({
    'Nomes':['Ronie Santos de Menezes','Danilo Maia Boccomino','Beatriz Kül Rezende','André Lorenção','Luca Gouveia'],
    'idades':['17','20','18','19','18'],
    'tamanho':['1,75','1,82','1,60','1,87','1,80']
    })

In [17]:
#tipos de encoding: utf-8 | iso-8859-1 | utf-16
df.to_csv('dados.csv', encoding='iso-8859-1', sep=';',index=False)

In [18]:
df

                     Nomes idades tamanho
0  Ronie Santos de Menezes     17    1,75
1    Danilo Maia Boccomino     20    1,82
2      Beatriz Kül Rezende     18    1,60
3           André Lorenção     19    1,87
4             Luca Gouveia     18    1,80